.w-20{
  width:20%
}
.w-30{
  width:30%

}
.sidebar .logo {
  width: 152px;
}
.nav{
  margin-right: 10px;
}
.bi{
  margin-right:10px;
}
.stories{
  height: 72px;

  
  
}
.dp{
  height:40px;
  margin-right: 10px;


}
.feed h5{
  font-size: 14px;
  font-weight: 600;
}
.dp-feed{
  height:40px;
  margin-right: 10px;
  border: 1px solid black;

}
.image{
  height:585px;
  width: 468px;
 

}
.image img{
  height: 100%;
  width:100%;
  object-fit:contain;
}
.profile h5{
  font-size:14px;
}
.suggestions .dp{
  margin-right: 10px;
}
.story-dp{
  width:50px;
  margin-right:10px;
  
}
.gradient-border {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  padding: 3px;
  display: inline-block;
  border-radius: 50%;
}
.storyparent{
  width:90%;
  overflow-x:auto;
  margin-top:10px;
  
 
}
.storyparent::-webkit-scrollbar{
  display:none;
}

.hover-bg:hover{
  background-color: #f2f2f2;
  border-radius: 10px;
}
.hover-bg{
  padding:5px;
}
.logo{
  margin-top:50px;
}
a{
  font-size:medium;
}
.dp-profile{
  width:60px;
}
.dp-name{
  width:220px;
}
.profile{
  top: 74px !important;
  left: 446px;
}
.dp-profile{
  width:100px;
  height: 100px;
}
.viewstories {
  height:100vh;
  
}
.viewstories img{
  height:75vh;

}
.caption {
  
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  width:60%;
}
